body {
    font-family: Arial, sans-serif;
}

#links {
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}

#links > img {
    height: 35px;
}

#links > div > a {
    margin: 10px;
    color:#5e5c5c;
    text-decoration: none;
}

#links > div > a:hover {
    text-decoration: underline;
}

#container {
    max-width: 95%;
    margin: 30px auto;
}

#form-title {
    color: red;
}

form > h3 {
    color: rgb(158, 157, 157);
    font-size: 18px;
}

form > div {
    margin-bottom: 20px;
}

form > div > label {
    font-size: 12px;
}

form > div > input[type=text] {
    width: 600px;
    height: 25px;
}

form > div > .form_example {
    font-size: 11px;
    margin-left: 10px;
}

form > input[type=submit] {
    font-size: 13px;
    padding: 8px 15px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #3479e7;
}